.newEntry {
    display: flex;
    flex-direction: column;
}

.newEntry__journal {
    height: 100px;
    width: 200px;
    flex-wrap: wrap;
    resize: none;
}

fieldset {
    display: flex;
    flex-direction: column;
}